<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcr7wvzqQDemIRe7D4lnfFqejal2lo_2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>604252346484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nalbantsoft.afetIhbarMobile</string>
	<key>PROJECT_ID</key>
	<string>afet-ihbar</string>
	<key>STORAGE_BUCKET</key>
	<string>afet-ihbar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604252346484:ios:f84f43b9329a4ffaee9921</string>
	<key>DATABASE_URL</key>
	<string>https://afet-ihbar-default-rtdb.firebaseio.com</string>
</dict>
</plist>